body {
    background-color: #2e2e2eff;
    color: whitesmoke ;
    flex-wrap: wrap; 
    font-size : 1em;
    font-family: roboto, sans-serif;
    padding: 20px;
 }
nav a{
 text-align: right;
 align-content: right;   
 color : #3c949cff;
 font-family: monospace;
 text-decoration: underline;
 font-size: 1.2em;
}


#intro {
    display: flex;
    font-size: 5em  ;
    text-align: center;
    align-items: center;
    justify-content: center;
    color : lightgoldenrodyellow;
    margin: 10px;
    font-family: 'Cinzel Decorative', cursive;
    font-weight : 400;
} 
#sub-intro {
    display: flex;
    color : lightcyan;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: cursive;
}

content {
    margin: 50px;
    padding: 50px;
}

/* For styling the timeline*/
.timeline {
    max-width: 80%;
    margin: 50px auto;
}
  
.timeline .timeline-body {
    position: relative;
    background-color: #2F3331;
    margin-left: 100px;
    border-radius: 0 8px 8px 0;
    padding: 5px 0;
}
  
.timeline .timeline-item {
    position: relative;
}
  
.timeline .timeline-item:after {
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 4px solid #4298C3;
    background-color: #2F3331;
    position: absolute;
    left: -16px;
    top: 0px;
    z-index: 9;
}
  
.timeline .timeline-item .time {
    position: absolute;
    left: -95px;
    top: -10px;
    opacity: .5;
    font-size: 13 px;
}
  
.timeline .timeline-item .content {
    color: lightslategray;
    margin: 5px 20px;
    padding-bottom: 10px;
    border-bottom: 1px dashed #555;
}
  
.timeline .timeline-item .content .title a{
    color: whitesmoke; 
    text-decoration: none;
    font-weight: 500;
    margin-bottom: 15px;
}
.timeline .timeline-item .content .title a:hover{
    color : tomato;
    cursor: pointer;
}

/*styling for timeline ends here */

/*For making the homepage/index.html responsive*/
@media screen and (max-width:768px){
    #intro{
        font-size:2em;
    }
    #sub-intro{
        font-size: .75em;
    }
    .timeline {
        max-width: 100%;
        margin: 5px auto;
    }
    .timeline .timeline-body {
        position: relative;
        margin-left: 10px;
        background-color: #2F3331;
        border-radius: 0 8px 8px 0;
        padding: 5px 0;
    }
    .timeline .timeline-item .time {
        position: absolute;
        left: 0px;
        top: -35px;
        opacity: .5;
        font-size: 9 px;
    }
    .timeline .timeline-item {
        position:relative;
        
    }
}